.oauto {
	overflow: auto;
}

.stockFavoriteList {
	height: inherit; 
	max-height: 400px; 
	overflow-y: overlay;
}

.detailTab {
	margin: 20px 0;
	min-height: 100px;
}

.detailTab .tab {
	border-top: 1px solid #DDD;
	padding: 5px;
}

.hei {
	height: inherit;
}